
* {
	user-select: none;
}

body {
	background-color: lightgray;
}

div.module {
	background-color: white;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

#caption {
	text-align: center;
}

#contents {
	margin: auto;

	width: 910px;
}

#counter_module {
	position: fixed;
	bottom: 0px;
	right: 0px;

	width: 150px;
}

#counter {
	text-align: center;
	vertical-align: middle;
}

#board_module {
	float: left;

	width: 700px;
	height: 700px;
}

#board {
	background-color: black;

	width: 700px;
	height: 700px;
}
